In [1]:
# Dependencies and Setup
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd

In [2]:
executable_path = {'executable_path': "C:/Users/peter/Downloads/chromedriver_win32/chromedriver"}
browser = Browser('chrome', **executable_path, headless=False)

# NASA Mars News

In [3]:
#Connecting to Mars News Site
url = "https://redplanetscience.com/"
browser.visit(url)

In [4]:
# HTML object
# Parse HTML with Beautiful Soup
html = browser.html
news_soup = BeautifulSoup(html, "html.parser")

In [5]:
# Latest news article title
news_title = news_soup.find("div", {"class":"content_title"}).get_text()
print(news_title)

Two Rovers to Roll on Mars Again: Curiosity and Mars 2020

In [6]:
# Latest paragraph text
news_p = data = news_soup.find("div", {"class":"article_teaser_body"}).get_text()
print(news_p)

They look like twins. But under the hood, the rover currently exploring the Red Planet and the one launching there this summer have distinct science tools and roles to play.

# JPL Mars Space Images - Featured Image

In [7]:
# Visit the url for the Featured Space Image site
executable_path = {'executable_path': "C:/Users/peter/Downloads/chromedriver_win32/chromedriver"}
browser = Browser('chrome', **executable_path, headless=False)
url = "https://spaceimages-mars.com"
browser.visit(url)

In [8]:
# Use splinter to navigate the site and find the image url for the current Featured Mars Image
full_image_button = browser.find_by_tag('a')
full_image_button.click()

In [9]:
# Parse Results HTML with BeautifulSoup
html = browser.html
image_soup = BeautifulSoup(html, "html.parser")

In [10]:
image_url = image_soup.find("img", {"class":"headerimage"}).get("src")
image_url

'image/featured/mars2.jpg'

In [11]:
# Use Base URL to obtain absolute URL
featured_image_url = f"https://spaceimages-mars.com{image_url}"
print(featured_image_url)

https://spaceimages-mars.comimage/featured/mars2.jpg

# Mars Facts

In [18]:
mars_facts = pd.read_html("https://galaxyfacts-mars.com")[0]

mars_facts.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [19]:
mars_facts.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n      <th>2</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres

In [20]:
# Visit the astrogeology site to obtain high resolution images for each of Mar's hemispheres
executable_path = {'executable_path': "C:/Users/peter/Downloads/chromedriver_win32/chromedriver"}
browser = Browser('chrome', **executable_path, headless=False)
url = "https://marshemispheres.com/"
browser.visit(url)